streamlit
pandas
numpy
scikit-learn
scipy
plotly
ipython
statsmodels
matplotlib
seaborn
beautifulsoup4
requests
lxml
yfinance
openpyxl
sympy
pandas-datareader
networkx
patsy
jinja2
